<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.dabeen.dnd.repository.mapper.HelpPicMapper"> <!-- Mapper 클래스주소-->
    <insert id="insert" parameterType="map" useGeneratedKeys="false">
        <selectKey order="BEFORE" keyProperty="picOrnu" resultType="Integer" > 
            <!--
                helpNum을 변수로 받아서 해당 변수를 사용하여 help_pic 테이블의 특정 변수의 pic_ornu가 몇 까지 생성되어있는 지를 확인한다.
                그 후 확인된 번호의 +1 한다. 
             -->
            
            select IFNULL(max(hp.pic_ornu),0)+1 as pic_ornu from (select * from help where help_num=#{helpNum}) h left join help_pic hp on h.help_num = hp.help_num
        </selectKey>    
        insert 
            into help_pic
            values (#{helpNum}, #{picOrnu}, #{path})        
    </insert>
</mapper>


<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.dabeen.dnd.repository.mapper.HelpPicMapper"> <! Mapper 클래스주소>
    <insert id="insert" parameterType="com.dabeen.dnd.model.entity.HelpPic" useGeneratedKeys="false">
        <selectKey order="BEFORE" keyProperty="picOrnu" resultType="Integer" > 
            select IFNULL(max(hp.pic_ornu),0)+1 as pic_ornu from (select * from help where help_num=#{helpNum}) h left join help_pic hp on h.help_num = hp.help_num
        </selectKey>    
        insert 
            into help_pic
            values (#{helpNum}, #{picOrnu}, #{helpPic})        
    </insert>
</mapper> -->

<!--
    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace= "com.dabeen.dnd.repository.mapper.HelpPicMapper"> 
        <resultMap type="com.dabeen.dnd.model.pk.HelpPicPK" id="helpPicPKMap" >
            <result property="helpNum" column="help_num" javaType="java.lang.String" />
            <result property="picOrnu" column="pic_ornu" javaType="java.lang.Integer" />
        </resultMap>
        <insert id="insert" useGeneratedKeys="false">
            <selectKey order="BEFORE" resultMap="helpPicPKMap" >
                select #{helpPicPK.getHelpNum()} as help_num, IFNULL(max(hp.pic_ornu),0)+1 as pic_ornu from (select * from help where help_num=#{helpPicPK.getHelpNum()}) h left join help_pic hp on h.help_num = hp.help_num
            </selectKey>
            insert 
                into help_pic
                values (#{helpNum}, #{picOrnu}, #{path})
        </insert>
    </mapper>
-->

<!--
    HelpPicMapper.xml
    식별자를 일련번호롤 생성하기 위한 쿼리문
    
    작성자 : 권영인
-->