<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "com.dabeen.dnd.repository.BsktMapper"> <!-- Mapper 클래스주소-->
    <insert id="insert" parameterType="java.util.HashMap" useGeneratedKeys="false">
        <selectKey order="BEFORE" keyProperty="bskt_num" resultType="String" > 
            <!-- 쿼리 못해먹겟다. 나중에 고쳐.. -->
            select to_char(sysdate, 'YYMMDD') || to_char(nvl(to_char(max(substr(bskt_num, 7)), '00')) + 1)
            form bskt
            where (
                case when substr(bskt_num, 1, 6) = to_char(sysdate,'YYMMDD') 
                then bskt_num else concat(to_char(sysdate,'YYMMDD'), '000')
             end)
            <!-- 키 생성 쿼리 -->
        </selectKey>
        insert
            into bskt(bskt_num, bskt.bsktUserNum, bskt.totalPrice, bskt.milegeUseWhet)
            valuse(#{bskt_num}, #{bskt.bsktUserNum}, #{bskt.totalPrice}, #{bskt.milegeUseWhet}, sysdate)
    </insert>
</mapper>

<!-- mybatis 작성파일 -->